<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My WebSite</title>
  </head>
  <body>
    <h1>William Eduardo Estrada</h1>
    <p>
      Esto es un párrafo, estoy haciendo prácticas de programación en python
    </p>
    <h2>Lenguage python</h2>
    <p>
      Estoy encantado de conocer python, es una gran satisfacción poder
      programar en este lenguaje
    </p>
  </body>
</html>
